<h1 class="current_menu">Facts</h1>

<%= link_to "Add a New Fact", new_admin_fact_path %>

<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th></th>
  </tr>
  <% @facts.each do |fact| %>
  <tr>
    <td><%= fact.question %></td>
    <td><%= fact.answer %></td>
    <td><%= link_to "Edit", edit_admin_fact_path(fact) %>|<%= link_to "Delete", [:admin, fact], :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
  <% end %>
</table>
