<% content_for :page_title do %>
  All your parks are belong to us
<% end %>
<div class="page-body clearfix">
  <div class="wrapper">

    <%= render partial: "common/header" %>

    <aside>
      <h1>explore the city</h1>
      <p>Grand Rapids has <%= @allParks.length %> city parks. See how many you can visit in a year!</p>

      <hr/>

      <h2>park facts</h2>
      <dl>
      <% @facts.each do |fact| %>
        <dt><%= fact.question %></dt>
        <dd><%= fact.answer %></dd>
      <% end %>
      </dl>
      <p><a href="http://www.friendsofgrparks.org/parkfacts">learn more</a></p>

    </aside>
    <div role="main">

      <h1>our parks</h1>
      <p>
        Every park within the city is unique. Search the map below or check the directory to explore the details of your local park, or find a new park to visit.
      </p>

      <form id="search-form">

        <select class="amenities search-input" name="amenity_id" id="amenity_id" data-placeholder="Filter by one or more amenities" style="width:350px;" multiple="" >
			<% @amenities.each do |amenity| %>
			  <option value="<%= amenity.id %>"><%= amenity.name %></option>
			<% end %>
       </select>

	   <input class="distance-search" type="hidden" name="lat" id="lat" value="" />
	   <input class="distance-search" type="hidden" name="lng" id="lng" value="" />
	   <fieldset>
		   <label for="distance">Find parks within </label>
		   <select class="distance-search search-input" name="distance" id="distance">
	       <% (1..20).each do |i| %>
            <option><%=i%></option>
         <%end%>
		   </select>
		   <label for="address"> miles of </label>
		   <input class="distance-search" type="textbox" name="address" id="address" placeholder="enter address or zip code" size="45" />
       </fieldset>

       Number of matching parks: <span class="parkCount"><%= @parks.length %></span>
       <a href="#" class="filterReset">Reset Filter</a>

      </form>

      <div class="map clearfix">
        <div id="map_canvas" style="width:590px; height:500px"></div>
      </div>

    </div><!-- role="main" //-->

      <%= render partial: "parks/list" %>

  </div><!-- .wrapper //-->
</div><!-- .page-body //-->

<%= render partial: "common/footer" %>
