<% content_for :javascript_includes do %>
  <%= javascript_include_tag "parks" %>
<% end %>
<% content_for :page_title do %>
  <%= @park.name %>
<% end %>
<%= hidden_field_tag :park_slug, @park.to_param %>
<%= hidden_field_tag :park_lat, @park.latitude %>
<%= hidden_field_tag :park_long, @park.longitude %>

<div class="page-body clearfix">
  <div class="wrapper">

    <%= render partial: "common/header" %>

    <div role="main">

      <h1><%= @park.name %></h1>

      <ul class="park-meta">
        <li><strong><%= @park.address %></strong> <a href="#">view map</a></li>
        <li><strong><%= @park.park_size %> Acres</strong></li>
        <li><strong><%= @park.contact_info %></strong></li>
      </ul>

      <section class="section-history">
        <%= @park.history %>
      </section><!-- .section-history //-->

      <section class="section-amenities">
        <h2>features and amenities</h2>
        <ul class="clearfix">
        <% @park.amenities.each do |amenity| %>
          <li><strong><%= amenity.name %></strong> - descripton</li>
        <% end %>
        </ul>
      </section><!-- .section-amenties //-->

      <section class="section-links">
        <h2>park links</h2>
        <ul class="clearfix">
          <li><a href="#">Lorem ipsum map link 1</a></li>
          <li><a href="#">Lorem ipsum document link 2</a></li>
          <li><a href="#">Lorem ipsum document link 3</a></li>
        </ul>
      </section><!-- .section-links //-->

      <section class="section-photos">
        <div id="galleria-flickr" data-flickr-set="<%= @park.flickr_pool %>"></div>
        <%#= image_tag("placeholder-treephoto.jpg") %>
        <h2>photos</h2>
        <p>Have a picture of this park? <a href="http://www.flickr.com/groups/<%= @park.flickr_pool %>">Add it to the collection!</a></p>

      </section><!-- .section-photos //-->

      <% if @park.vimeo_embed.present? %>
        <iframe src="http://player.vimeo.com/video/<%= @park.vimeo_embed %>" width="320" height="200" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <% end %>

      <section class="section-map">
        <div id="map_canvas" style="width:435px; height:300px"></div>
        <h2>map</h2>
        <p>Explore this park and <a href="#">add a tree to our Tree Map.</a></p>
      </section><!-- .section-map //-->

      <section class="section-notice">
        <p>The Friends of Grand Rapids Parks is not a department of the city, and cannot take reservations. Contact Special Events at 616.456.3378 for park reservations.</p>
      </section>

    </div><!-- role="main" //-->

    <aside>

      <h1>great parks make great neigborhoods</h1>
      <p>
        great parks make great neighborhoods
        The Friends of Grand Rapids Parks is an independent, citizen led, nonprofit enterprise founded in 2008, working closely with but separate from the city. Our mission is to identify specific park projects, mobilize people, and generate resources to protect, enhance, and expand the city's parks and public spaces. <a href="#">Learn more</a>
      </p>
      <hr/>

      <h2>do your part for this park</h2>
      <p>
        <a href="#">See the volunteer opportunities</a><br>
        <a href="#">Donate to make your park better</a>
      </p>

    </aside>

    <aside>
      <h2>parks alive</h2>
      <p>A venture to reclaim and sustain parks lorem ipsum dolor sent.</p>
      <p><strong>park contact</strong> <a href="mailto:#">First Last</a></p>
      <p>
        <a href="#">Submit a Parks Alive report card</a><br>
        <a href="#">Download the guidelines</a> (pdf)<br>
        <a href="#">Download the handbook</a> (pdf)
      </p>
    </aside>

  </div><!-- .wrapper //-->
</div><!-- .page-body //-->

<%= render partial: "common/footer" %>
