<% content_for :javascript_includes do %>
  <%= javascript_include_tag "parks" %>
<% end %>
<% content_for :page_title do %>
  <%= @park.name %>
<% end %>
<%= hidden_field_tag :park_slug, @park.to_param %>
<%= hidden_field_tag :park_lat, @park.latitude %>
<%= hidden_field_tag :park_long, @park.longitude %>

<div class="page-body clearfix">
  <div class="wrapper">

    <%= render partial: "common/header" %>

    <div role="main">

      <h1><%= @park.name %></h1>

      <ul class="park-meta">
        <% if @park.address.present? %>
          <li><strong><%= @park.address %></strong> <a href="#mapAnchor">View Map</a></li>
        <% end %>
        <% if @park.park_size.present? %>
          <li>Size: <strong><%= @park.park_size %> Acres</strong></li>
        <% end %>
      </ul>

      <section class="section-history">
        <%= raw @park.history %>
      </section><!-- .section-history //-->

      <% if @park.amenities.present? %>
      <section class="section-amenities">
        <h2>features and amenities</h2>
        <ul class="clearfix">
        <% @park.park_amenities.each do |amenity| %>
          <li><strong><%= amenity.amenity.name %></strong> 
          	<% if amenity.description.present? %>
          		- <%= raw amenity.description %>
          	<% end %>
          </li>
        <% end %>
        </ul>
      </section><!-- .section-amenties //-->
      <% end %>

      <% if @park.links.present? %>
      <section class="section-links">
        <h2>park links</h2>
        <ul class="clearfix">
        <% @park.links.each do |link| %>
          <li><a href="<%= link.url %>"><%= link.name %></a></li>
        <% end %>
        </ul>
      </section><!-- .section-links //-->
      <% end %>

      <% if @park.flickr_pool.present? %>
      <section class="section-photos">
        <div id="flickr-pool-slideshow" data-flickr-group="<%= @park.flickr_pool %>"></div>
        <h2>photos</h2>
        <p>Have a picture of this park? <a href="http://www.flickr.com/groups/<%= @park.flickr_pool %>">Add it to the collection!</a></p>
      </section><!-- .section-photos //-->
      <% end %>

      <% if @park.vimeo_embed.present? %>
	    <section class="section-video  ui-helper-clearfix">
	    <h2>video</h2>
		<%= raw @park.vimeo_embed %>
      	</section>
      <% end %>

      <section id="mapAnchor" class="section-map ui-helper-clearfix">
        <div id="map_canvas" style="width:435px; height:300px"></div>
        <h2>map</h2>
        <p>Explore this park and <a href="http://treemap.urbanforestproject.com/howto/">add a tree to our Tree Map.</a></p>
      </section><!-- .section-map //-->

      <section class="section-notice">
        <p>The Friends of Grand Rapids Parks is not a department of the city, and cannot take reservations. Contact Special Events at 616.456.3378 for park reservations.</p>
      </section>

    </div><!-- role="main" //-->

    <aside>

      <h1>great parks make great neigborhoods</h1>
      <p>
        The Friends of Grand Rapids Parks is an independent, citizen led, nonprofit enterprise founded in 2008, working closely with but separate from the city. Our mission is to identify specific park projects, mobilize people, and generate resources to protect, enhance, and expand the city's parks and public spaces. 
        <a href="http://www.friendsofgrparks.org/about">Learn more</a>
      </p>
      <hr/>

      <h2>do your part for this park</h2>
      <p>
        <a href="http://www.friendsofgrparks.org/events">See the volunteer opportunities</a><br />
        <a href="https://npo.networkforgood.org/Donate/Donate.aspx?npoSubscriptionId=1004510">Donate to make your park better</a><br />
        <a href="http://treemap.urbanforestproject.com/howto/">Add a tree to our Tree Map</a> <br />
        <a href="http://treemap.urbanforestproject.com/map/">Explore the Tree Map</a><br />
      </p>

    </aside>

    <% if @park.is_parks_alive? %>
      <aside>
      <h2>parks alive</h2>
        <p>A venture to reclaim and sustain parks.</p>
      <% if @park.parks_alive_contact.present? %>
        <% if @park.parks_alive_contact.present? %>
          <p>Park Contact: <%= @park.parks_alive_contact %></p>
          <%= render_markdown(@park.parks_alive_content) %>
        <% end %>
      <% else %>
        <p>
        Sign up to be a Parks Alive leader for this park!<br />
          <a href="http://www.friendsofgrparks.org/resources/Documents/ParksAliveReportCard.pdf">Submit a Parks Alive report card</a><br>
          <a href="http://www.friendsofgrparks.org/resources/Documents/ParksAliveLeadersAgreement.pdf">Download the guidelines</a> (pdf)<br>
          <a href="http://www.friendsofgrparks.org/resources/Documents/ParksAliveLeadersHandbook.pdf">Download the handbook</a> (pdf)
          </p>
      <% end %>
      </aside>
    <% end %>
  </div><!-- .wrapper //-->
</div><!-- .page-body //-->

<%= render partial: "common/footer" %>
