<p class="required_field">* Required Fields</p>
<%= simple_form_for [:admin, @park] do |f| %>

  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :latitude, as: :string %>
  <%= f.input :longitude, as: :string %>
  <%= f.input :park_size, as: :string %>
  <%= f.input :contact_info %>
  <%= f.input :history %>
  <%= f.input :vimeo_embed %>
  <%= f.input :flickr_pool %>
  <%= f.association :amenities, as: :check_boxes %> 
  <%= link_to "Add Amenity", "#", id: "park_add_amenity" %>

  Links 
  <%= f.simple_fields_for :links do |ff| %>
    <%= render partial: 'link', locals: {builder: ff}%>
  <% end %>
  <%= link_to "Add Link", "#", id: "park_add_link" %>

  <%= f.button :submit %>
<% end %>

  Park ID:<%= @park.id %>
