<p class="required_field">* Required Fields</p>
<%= simple_form_for [:admin, @park] do |f| %>

  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :latitude, as: :string %>
  <%= f.input :longitude, as: :string %>
  <%= f.input :park_size, as: :string %>
  <%= f.input :history %>
  <%= f.input :vimeo_embed %>
  <%= f.input :flickr_pool %>

  <fieldset>
    <legend>Parks Alive</legend>
    <%= f.input :is_parks_alive, label: "Parks Alive Enabled?" %>
    <%= f.input :parks_alive_contact %>
    <%= f.input :parks_alive_content, label: "Sidebar Content (<a href='http://en.wikipedia.org/wiki/Markdown'>Markdown</a> enabled)" %>
  </fieldset>

  Amenities
  <%= f.simple_fields_for :park_amenities do |builder| %>
    <%= render "park_amenity_fields", f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Amenity", f, :park_amenities %>

  Links
  <%= f.simple_fields_for :links do |builder| %>
    <%= render "link_fields", f: builder %>
  <% end %>
  <%= link_to_add_fields "Add Link", f, :links %>

  <%= f.button :submit %>
<% end %>

  Park ID:<%= @park.id %>
