<p class="required_field">* Required Fields</p>
<%= simple_form_for [:admin, @park] do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :latitude, as: :string %>
  <%= f.input :longitude, as: :string %>
  <%= f.input :park_size, as: :string %>
  <%= f.input :contact_info %>
  <%= f.input :history %>
  <%= f.input :vimeo_embed %>
  <%= f.input :flicker_pool %>
  <%= f.association :amenities, as: :check_boxes %> 
  
  <%= f.button :submit %>
<% end %>
