<h1 class="current_meny">New User</h1>

<%= simple_form_for [:admin, @user] do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.input :admin %>

  <%= f.button :submit %>
<% end %>
