<footer>
  <div class="wrapper">

    <div class="newsletter">
      <form action="http://friendsofgrparks.us1.list-manage.com/subscribe?u=b819bf7ff503e215ae88cbbb4&id=661c41f652" method="GET">
        <legend>sign up for our newsletter</legend>
        <fieldset>
          <input name="MERGE0" type="email" placeholder="sign up for our newsletter">
          <input type="submit" value="get it!">
        </fieldset>
      </form>
      <%= render partial: "common/socialnav" %>
    </div>

    <nav class="footer-logos">
      <ul>
        <li><a href="http://urbanforestproject.com"><%= image_tag("logo_grufp.png") %></a></li>
        <li><a href="http://www.friendsofgrparks.org/parksalive"><%= image_tag("logo_parksalive.png") %></a></li>
        <li><a href="http://www.green-gala.com"><%= image_tag("logo_greengala.png") %></a></li>
        <li><a href="https://npo.networkforgood.org/Donate/Donate.aspx?npoSubscriptionId=1004510"><%= image_tag("button_donate.png") %></a></li>
      </ul>
    </nav>

    <div class="subfooter">
      p.o. box 3199,  grand rapids, michigan 49501   &copy;2012 friends of grand rapids parks
    </div>

  </div><!-- .wrapper //-->
</footer>
